body {
    background-color:azure;
    background-image: image(css/img/wodospad.jpg);
   
    
}

.box {
    width: 150px;
    height: 150px;
    margin: 20px;
    
}

#colors {
    background-color: yellow;
    transition: background-color 3s ease-in 2s;
    
}
#colors:hover {
    background-color: darkmagenta;
   
    
}

#box1 {
    background-color: greenyellow;
    transition: width 2s;
}

#box1:hover {
    width: 700px;
}

#box2 {
    background-color: cornflowerblue;
    transition:height 2s;
}

#box2:hover {
    height: 400px;
}

#box3 {
    background-color:slategray;
    transition: width 2s, height 2s;
    cursor: pointer;
    
}

#box3:hover {
    width: 300px;
    height:300px;
}